/* =========================================================
Theme Name: Blogio
Theme URI: http://themography.com
Description:  Blogio : Personal Blog Theme
Version: 1.0
Author: ThemoGraphy
Tags: personal blog, minimal design, blog template
============================================================= */



/* ==========================================================
Table of Index
=============================================================

1. GLOBAL CSS
2. HEADER CSS
3. SLIDER POST CSS
4. CONTENT CSS
5. SINGLE PAGE CSS
6. SIDEBAR CSS
7. PAGE: About Me CSS
8. PAGE: 404 Error CSS
9. PAGE: GALLERY POST CSS
10. PAGE: ARCHIVE CSS
11. FOOTER CSS
*/

/* ================================
 	1. GLOBAL
   ================================ */
body {
	font-size: 12px;
	font-weight: normal;
}

h1, h2, h4, a, span {
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
}
ul , li {
	margin: 0;
	padding: 0;
}
span {
	color: #7c7c7c;
	letter-spacing: 2px;
}
a, button {
	color: #000000;
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
	transition: all 0.15s linear;
}

a:hover, a:focus {
	color: #7C7C7C;
	text-decoration: none;
}
p {
	font-family: 'Droid Sans', sans-serif;
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 1px;
	color: #7c7c7c;
	margin-bottom: 20px;
}
h1 {
	margin-top: 0;
}
h2 {
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 4px;
	line-height: 36px;
}

h4 {
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 2px;
	line-height: 20px;
}
h5 {
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 2px;
}
h6 {
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 2px;
	text-transform: uppercase;
}
img {
	display: block;
    max-width: 100%;
    height: auto;
}
input, textarea {
	border: 1px solid #000000;
}
.line {
	height: 1px;
	width: 100%;
	margin: 10px 0;
	background: #e5e5e5;
}
.btn-black {
	font-size: 16px;
    background: #000000;
    display: inline-block;
    padding: 12px 20px;
    color: #ffffff;
    letter-spacing: 4px;
    border: 1px solid #000000;
    text-transform: uppercase;
}
.btn-black:hover {
	border: 1px solid #000000;
	background: transparent;
	color: #000000;
}
.btn-white {
	font-size: 16px;
    display: inline-block;
    padding: 12px 20px;
    color: #000000;
    letter-spacing: 4px;
    border: 1px solid #000000;
    text-transform: uppercase;
}
.btn-white:hover {
	border: 1px solid #000000;
	background: #000000;
	color: #ffffff;
}
.btn-white-sm {
	font-size: 12px;
    display: inline-block;
    padding: 5px 10px;
    margin-right: 10px;
    color: #000000;
    letter-spacing: 1px;
    border: 1px solid #000000;
}
.btn-white-sm:hover {
	border: 1px solid #000000;
	background: #000000;
	color: #ffffff;
}
/* ================================
 	2. HEADER
   ================================ */
.header {
	min-height: 80px;
}
.navbar-brand {
	margin-top: 15px;
	font-size: 22px;
	letter-spacing: 4px;
}
.navbar-nav {
	margin-top: 0px;
}
.navbar-brand {
	padding-left: 0;
}
.nav li {
	padding-left: 18px;
	padding-right: 18px;
}
.nav li:last-child {
	padding-right: 0px;
}
.nav li a {
    padding: 31px 0px;
    letter-spacing: 2px;    
}
.navbar {
    margin-bottom: 0;
}
.nav li a:focus, 
.nav li a:hover {
    background: none;
}
.fixed-nav {
	background: #ffffff;
	box-shadow: 0px -3px 10px #000;
}
.nav a i {
	margin-left: 5px;
}
.dropdown-menu {
    padding: 0;
    font-size: 12px;
    background-color: #fff;
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    border-top: 1px solid transparent;
    border-radius: 0;
    -webkit-box-shadow: 0 6px 12px transparent;
    box-shadow: 0 6px 12px transparent;
}
.dropdown-menu li {
    padding-left: 0px;
    padding-right: 0px;
}
.dropdown-menu li a {
    padding: 10px 15px;
    font-weight: normal;
    color: #000000;
}
.dropdown-menu li a:hover {
	background: #f5f5f5 !important;
    border:none;
}
.nav .open a,
.nav .open a:focus, 
.nav .open a:hover {
    background-color: transparent;
    border:none;
}
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0;
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    border-top: 1px solid #f5f5f5;
}
.dropdown-menu .active a,
.dropdown-menu .active a:focus,
.dropdown-menu .active a:hover {
    color: #000;
    text-decoration: none;
    background-color: #f5f5f5 !important;
    outline: 0;
}
.navbar-toggle .icon-bar {
    background-color: #000;
}
.navbar-toggle {
    margin-top: 23px;
}
/* ================================
 	3. SLIDER POST
   ================================ */
.slider {
	overflow: hidden;
}
.slider .slider-content {
    overflow: visible;
    width: 100%;
    position: absolute;
    bottom: 0;
	text-align: center;
}
.slider-img {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 1000px;
}
.bg-feature {
	background: rgba(255, 255, 255, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}
.slider-img img {
	width: 100%;
	height: auto;
}
.carousel-caption {
	top: 30%;
	right: 0%;
    left: 0%;
    text-shadow: 0 1px 2px transparent;
}
.feature-post h1 {
	font-weight: 100;
}

.feature-post .date span {
	letter-spacing: 4px;
	font-size: 14px;
}

.feature-post .read-more i {
	margin-left: 7px;
}
.slider .left-arrow .fa-angle-left,
.thum-item .left-arrow .fa-angle-left {
	position: absolute;
	top: 45%;
	left: -50px;
	color: #000000;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.slider .right-arrow,
.thum-item .right-arrow {
	right: 0;
	left: auto;
}
.slider .right-arrow .fa-angle-right,
.thum-item .right-arrow .fa-angle-right {
	position: absolute;
	top: 45%;
	right: -50px;
	display: inline-block;
	color: #000000;
	font-size: 70px;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.carousel-indicators .active {
	width: 30px;
	height: 8px;
}
.carousel-indicators li {
    display: inline-block;
    width: 20px;
    height: 8px;
    margin: 0px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0,0,0,0);
    border: 1px solid #777;
    border-radius: 0px;
}

.style-two {
	background: url("../images/bg1.jpg");
	text-align: center;
}
.style-two img {
	margin: 0 auto;
	display: table;
	border-radius: 50%;
	position: relative;
	
}
.style-two h1 {
	font-weight: 100;
	margin-top:70px;
	font-size: 72px;
}
.style-two h2 {
	font-weight: normal;
	margin-top:30px;
	font-size: 24px;
}
.style-two p {
	font-weight: 100;
	margin-top:40px;
	font-size: 13px;
	margin-bottom: 100px;
}
.style-two .bg-style-two {
	padding-top: 200px;
	background: rgba(227, 227, 227, 0.76);
	min-height: 600px;
}
/* ================================
 	4. CONTENT
   ================================ */

#content {
	margin-top: 80px;
}
.thum-item {
	margin-bottom: 60px;
	overflow: hidden;
}
.thum-item img {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.thum-item:hover img {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);

}
.blog-post {
	margin-bottom: 100px;
}

.blog-post ul {
	margin-left: 20px;
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 1px;
	color: #7c7c7c;
}

.blog-post ul li {
	padding: 5px 10px;
}

.blog-post .meta {
    overflow: hidden;
}
.blog-post .meta ul li, .blog-post .meta ul li a {
    font-size: 12px;
    color: #6c6c6c;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 30px;
}
.blog-post .meta ul {
    list-style: none;
}
.blog-post .meta ul li {
    float: left;
}
.blog-post .meta ul li+li:before {
    content: "/";
    padding: 0 10px;
}
.blog-post .meta span {
	margin-left: 10px;
	margin-right: 10px;
}
.blog-post .content {
	margin: 45px 0;
}
.blog-post .post-bottom {
    overflow: hidden;
}
.blog-post .continue {
	float: left;
	letter-spacing: 2px;
	margin-top: 20px;
}
.blog-post .share-iocn {
	float: right;
	margin-top: 20px;
}
.blog-post .share-iocn .share {
	margin-right: 10px;
	float: left;
}
.blog-post .share-iocn .icon a {
	padding: 0 7px;
	font-size: 14px;

}
.audio-post iframe {
	width: 100%;
	border: none;
}
.primary nav {
	margin:0 auto;
	display: table;
	margin-bottom: 100px;
}
.primary .pagination {
	font-size: 18px;
}
.primary .pagination li a {
	color: #000000;
	margin: 2px;
}
.primary .pagination li.on a {
	background: #f5f5f5;
}
.pagination li:first-child a,
.pagination li:last-child a {
	font-size: 20px;
	border: none;
}
.pagination li:first-child a span,
.pagination li:last-child a span {
	color: #000000;
}
.pagination li:first-child a,
.pagination li:first-child span {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.pagination li:last-child a,
.pagination li:last-child span {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
/* ================================
 	5. SINGLE PAGE
   ================================ */
.bg-title {
	background: rgba(255, 255, 255, 0.8);
	min-height: 150px;
}
.page-title {
	margin-top: 80px;
	background: url("../images/bg1.jpg");
}
.bg-page-title {
	height: 155px;
	background: rgba(255, 255, 255, 0.8);
}
.page-title .title {
	float: left;
	margin-top: 62px;
}
.page-title .title h1 {
	font-size: 20px;
	color: #000;
	letter-spacing: 4px;
	font-weight: bold;
}
.page-title .breadcrumb {
	float: right;
	margin-top: 60px;
	background-color: transparent;
}
.page-title .breadcrumb ul {
	list-style: none;
}
.page-title .breadcrumb ul li {
	float: left;
}
.page-title .breadcrumb ul li,
.page-title .breadcrumb ul li a {
	font-size: 13px;
	color: #000;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.page-title .breadcrumb ul li+li:before {
    content: "/";
    padding: 0 10px;
}
.post-blockquote {
	overflow: hidden;
	background: #f5f5f5;
	padding: 40px 50px 40px 60px;
	margin: 30px 0;
}

.post-blockquote p {
	position: relative;
	font-size: 16px;
}

.post-blockquote p:before {
    position: absolute;
    content: "\f10d";
    font-family: FontAwesome;
    font-size: 24px;
    top: -2px;
    left: -40px;
}
.post-blockquote p:after {
    position: absolute;
    content: "\f10e";
    font-family: FontAwesome;
    font-size: 24px;
    bottom: -7px;
    right: -70px;
}
.post-blockquote .blockquote-author {
	font-size: 18px;
	font-weight: bold;
}

/** Block quotes **/
blockquote {
	overflow: hidden;
	background: #B5E0DD;
	padding: 40px 50px 40px 60px;
	margin: 30px 0;
	position: relative;
	font-size: 16px;
	-webkit-box-shadow: 4px 4px 25px -4px rgba(0,0,0,0.62);
	-moz-box-shadow: 4px 4px 25px -4px rgba(0,0,0,0.62);
	box-shadow: 4px 4px 25px -4px rgba(0,0,0,0.62);
	border: 0px;
}

blockquote:before {
	position: relative;
	content: "\f10d";
	font-family: FontAwesome;
	font-size: 24px;
	top: -2px;
	left: -40px;
}

blockquote:after {
	position: relative;
	content: "\f10e";
	font-family: FontAwesome;
	font-size: 24px;
	bottom: -7px;
	right: -40px;
}

.right-align {
    float: right;
    margin: 5px 0px 20px 20px;
}
.left-align {
    float: left;
    margin: 5px 20px 20px 0;
}
.image-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
}
.blog-post .tag span {
	margin-right: 15px;
}
.blog-post .tag {
	float: left;
	letter-spacing: 2px;
	margin-top: 20px;
	width: 60%;
	color: #6c6c6c;
}
.blog-post .tag a {
	margin-right: 10px;
	letter-spacing: 1px;
}

.blog-post .tag a:hover {
	color: #535353;;
}

.author-box {
	background: #f5f5f5;
	padding: 30px;
}
.author-box .photo {
	float: left;
}
.author-box .photo img {
	width: 120px;
	margin-top: 10px;
}
.author-box .bio {
	margin-left: 150px;
}
.author-box .bio p {
	margin: 25px 0;
	line-height: 24px;
}
.author-box .bio h6 {
	color: #7c7c7c;
	margin-top: 15px;
}
.author-box .bio .share-iocn span {
	font-size: 16px;
	padding:0 5px;
}
.related-post {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 50px;
}
.related-post .title {
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 4px;
	color: #000;
	display: block;
	margin-bottom: 40px;
}
.related-post .item {
	text-align: left;
	margin-bottom: 50px;
}
.related-post .item h4 {
	margin-top: 25px;
	color: #000;
}
.blog-comment {
	margin-top: 100px;
}
.comment .title,
.leave-a-reply .title {
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 4px;
	color: #000;
	display: block;
	margin-bottom: 60px;
}
.comment-wrap {
	border-bottom: 1px dashed #e5e5e5;
	position: relative;
	margin-top: 50px;
	padding-bottom: 20px;
}
.comment-wrap .photo {
	float: left;
}
.comment-wrap .photo img {
	width: 100px;
	height: auto;
}
.comment-wrap .full-comment {
	margin-left: 150px;
}
.comment-wrap .date {
	margin: 10px 0;
	font-size: 11px;
}
.comment-wrap p {
	margin: 20px 0;
	line-height: 24px;
}

.reply-comment {
	margin-left: 60px;
}
.leave-a-reply {
	margin: 100px 0;
}
.leave-a-reply .title {
	margin-bottom: 30px;
}
.leave-a-reply input,
.leave-a-reply textarea {
	margin-bottom: 30px;
}
.leave-a-reply button {
	font-size: 13px;
}
/* ================================
 	6. SIDEBAR
   ================================ */
.widget-box {
	margin-bottom: 50px;
}
.widget-box .widget-title span {
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 4px;
	color: #000000;
}
.widget-box .widget-item {
	margin: 20px 0;
}
.widget-box .widget-item img {
	margin: 10px 0;
}
.widget-box .widget-item .thum-img img,
.widget-box .widget-item .instagram-pics img  {
	max-width: 100px;
	height: auto;
}
.widget-box .widget-item .sidebar-text {
	margin-top: 30px;
}
.widget-box .widget-item .social a {
	font-size: 20px;
	color: #7c7c7c;
	padding: 10px;
}
.widget-box .widget-item .social a:hover {
	color: #000000;
}

.widget-box .sidebar-post {
	list-style: none;
}
.widget-box .sidebar-post .item {
	overflow: hidden;
	border-bottom: 1px dashed #e5e5e5;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.widget-box .sidebar-post .item:last-child {
	border: none;
}
.widget-box .sidebar-post .thum-img {
	float: left;
}
.widget-box .sidebar-post .post-meta h4 {
	margin-left: 120px;
}
.widget-box .sidebar-post .post-meta p {
	margin-left: 120px;
	font-size: 11px;
	margin-bottom: 0;
}
#instafeed {
    overflow: hidden;
}
#instafeed a {
    display: block;
    float: left;
    margin-bottom: 5px;
    margin-left: 5px;
    width: 80px;
}
#instafeed a img {
	margin: 0;
}
.widget-box .widget-item .tagcloud a {
	overflow: hidden;
	margin-bottom: 8px;
}
.widget-box .widget-item .category-list {
	list-style: none;
}
.widget-box .widget-item .category-list {
	list-style: none;
}
.widget-box .widget-item .category-list .cat-item {
	border-bottom: 1px dashed #e5e5e5;
	line-height: 40px;
}
.widget-box .widget-item .category-list .cat-item:last-child {
	border-bottom: 1px dashed transparent; 
}
.widget-box .widget-item .category-list .cat-item a {
	letter-spacing: 4px;
}
.widget-box .widget-item .category-list .cat-item a span {
	margin-left: 10px;
}
.form-control {
    height: 40px;
    padding: 6px 12px;
    font-size: 13px;
    font-family: 'Droid Sans', sans-serif;
    color: #7c7c7c;
    background-color: #fff;
    border: 1px solid #000000;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control:focus {
    border: 1px solid #7c7c7c;
    -webkit-box-shadow: inset 0 1px 1px transparent,0 0 8px transparent;
    box-shadow: inset 0 1px 1px transparent,0 0 8px transparent;
}
.widget-box .widget-item .search-input,
.widget-box .widget-item .newsletter-input {
	margin-top: 30px;
}
.widget-box .widget-item .search-btn,
.widget-box .widget-item .newsletter-btn {
	margin-top: 30px;
}
.widget-box .widget-item .search-btn button,
.widget-box .widget-item .newsletter-btn button {
    padding: 10px 25px;
    font-size: 13px;
}
.widget-box .widget-item .newsletter-btn button:hover {
	background: #ffffff;
	color: #000000;
}
.widget-box .widget-item .newsletter-btn button:focus {
	outline: 0;
}
/* ================================
 	7. PAGE: About Me
   ================================ */
.about-me h2 {
	margin-top: 50px;
	margin-bottom: 20px;
}
#footer-widget {
	margin-top: 100px;
	padding-top: 100px;
	border-top: 1px solid #f5f5f5;
}
/* ================================
 	8. PAGE: 404 Error
   ================================ */
.error-404 {
   	text-align: center;
   }
.error-404 .error {
	font-size: 120px;
}
.error-404 .error span {
	color: #333;
}
.error-404 button {
	background: #000000;
    padding: 10px 25px;
    color: #ffffff;
    margin-top: 50px;
    border: 1px solid #000000;
    letter-spacing: 2px;
    font-size: 13px;
    -webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
/* ================================
 	9. PAGE: GALLERY POST
   ================================ */
.thum-item .left-arrow .fa-angle-left,
.thum-item .right-arrow .fa-angle-right {
	font-size: 40px;
	/*border: 1px solid #000;*/
	padding: 0px 10px;
}
.thum-item:hover .left-arrow .fa-angle-left {
	left: 20px;
}
.thum-item:hover .right-arrow .fa-angle-right {
	right: 20px;
}
/* ================================
 	10. PAGE: ARCHIVE
   ================================ */
.archive .blog-title h2 {
 	margin-top: 0;
}
.archive .blog-post .content {
 	margin: 20px 0;
}
.archive-title {
	padding: 30px;
	margin-bottom: 50px;

 	background: #f5f5f5;
}
.archive-title span {
 	font-size: 22px;
 	font-weight: bold;
 	color: #000;
}
.post-archive .thum-item {
	padding-top: 10px;
}
.post-archive {
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 50px;
}
#map {
	width: 100%;
	height: 400px;
}
/* ================================
 	11. FOOTER
   ================================ */

footer {
	background: #000000;
	margin-top: 100px;
}
.footer .footer-nav {
	margin: 60px 0 15px 0;
	overflow: hidden;
}
.footer .footer-nav .nav li a:hover,
.footer .footer-nav .nav li.active a {
	color: #BDBDBD;
    border: none;
}
.footer .footer-nav li {
	border-right: 1px solid #ffffff;	
}
.footer .footer-nav li:first-child {
	padding-left: 0;
}
.footer .footer-nav li:last-child {
	border-right: 1px solid transparent;
}
.footer .footer-nav li a {
	color: #ffffff;
	padding: 0;
	line-height: 12px;
}
.copyright {
	margin-bottom: 50px;
}
.copyright span {
	font-family: 'Droid Sans', sans-serif;
	text-transform: capitalize;
	font-size: 12px;
	color: #fff;
}
.copyright span a {
	color: #ffffff;
	padding: 1px;
}
.copyright span a:hover{
	color: #BDBDBD;
}

/* Preloader */

#preloader {
    position:fixed !important;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff;
    z-index:999999;
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%;
    top:50%;
    background-image:url("../images/loading.gif");
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px;
}

.kg-width-wide {}

.kg-width-full {}

.kg-gallery-container {}

.kg-gallery-row {}

.kg-gallery-image {}