{{#author}}
    <div class="widget-box">
        <div class="widget-title">
            <span>About Me</span>
            <div class="line"></div>
        </div> <!-- End .widget-title -->
        <div class="widget-item">
            {{#if profile_image}}
                <img src="{{img_url profile_image}}" alt="About {{meta_description}}">
            {{/if}}
            {{#if bio}}
                <div class="sidebar-text">
                    <p>{{bio}}</p>
                </div> <!-- End .sidebar-text -->
            {{/if}}
        </div> <!-- End .widget-item -->
    </div> <!-- End .widget-box -->
{{/author}}
