<div class="widget-box">
    <div class="widget-item">
        <div class="tagcloud">
            <p><a href="/rss" target="_blank"><i class="fa fa-rss fa-2x"></i> <span class="h4">RSS Feed</span></a></p>
            <p><a href="mailto:ndy40.ekott@gmail.com"><i class="fa fa-envelope fa-2x"></i><span class="h4">Email</span></a></p>
        </div>
    </div>
</div> <!-- End .widget-box -->