<section id="slider">
    <div class="style-two">
        <div class="bg-style-two">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
                        <img src="{{asset "images/about.jpg"}}" alt="Author Image">
                        <h1>Ndifreke Ekott</h1>
                        <h2>Software Engineer</h2>
                        <p>Software Engineer with 8+ years of experience working with a diverse set of programming languages, toolsets and teams.
                            Passionate about Software Development Methodologies (Agile), Data Processing workflow, Cloud and Continuous integration.
                            Always on the path to learning and keeping up to date.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End .style-two -->
</section>