{{#if "pagination"}}
    <nav>
        <ul class="pagination" role="pagination" id="pagination">
            {{#if prev}}
                <li>
                    <a href="{{page_url prev}}" aria-label="Previous">
                        <span aria-hidden="true"><i class="fa fa-angle-left"></i></span>
                    </a>
                </li>
            {{/if}}

            <div class="hidden" data-max-page="{{pages}}" id="page-data"></div>

            {{#if next}}
                <li>
                    <a href="{{page_url next}}" aria-label="Next">
                        <span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
                    </a>
                </li>
            {{/if}}
            <div class="clear"></div>
        </ul>
    </nav>
{{/if}}

<script type="text/javascript">
    var pagination = document.getElementById('page-data');

    var paginator = document.getElementById("pagination"),
        pageUrl = "{{page_url}}",
        pageSize = {{pages}};

    if (pageSize > 1) {
        for(var i = 1 ; i <= pageSize; i++) {
        var li = document.createElement('li'),
                anchor = document.createElement('a');

        anchor.href = pageUrl + "page/" + i;
        anchor.textContent = i;
        li.appendChild(anchor);

        if (i === {{page}} ) {
            li.setAttribute('class', 'on');
            anchor.setAttribute('disabled', 'disabled');
        }
        pagination.after(li);
        pagination = li;
    }
    }
</script>

{{ pageSize}}