<div class="meta">
    <ul>
        <li class="category"><a href="archive.html">{{ primary_tag.name }}</a></li>
        <li class="author">{{ author }}</li>
        <li class="date">{{date published_at format="MMMM DD, YYYY"}}</li>
        <li class="meta">{{ reading_time }}</li>
    </ul>
</div> <!-- End .meta -->