<article class="blog-post {{post_class}}">
    <!-- featured image -->
    {{#if feature_image}}
        <div class="thum-item">
            <img src="{{img_url feature_image }}" alt="{{ title }}">
        </div> <!-- End .thum-item -->
    {{/if}}

    <div class="post">
        <div class="blog-title">
            <h2><a href="{{ url }}">{{ title }}</a></h2>
        </div>
        {{> 'post-meta-info'}}
        <div class="content">
            {{ content words="300" }}
        </div> <!-- End .content -->
        <div class="line"></div>
        <div class="share">
            <div class="post-bottom">
                <div class="continue">
                    <a href="{{url}}">Continue Reading <span><i class="fa fa-long-arrow-right"></i></span></a>
                </div> <!-- End .continue -->
            </div> <!-- End .post-bottom -->
        </div> <!-- End .share -->
    </div> <!--  End .post -->
</article> <!-- End .blog-post -->