{{#get 'posts' limit="5" order="published_at desc" filter="id:-{{id}}" }}
    <div class="widget-box">
        <div class="widget-title">
            <span class="h3">Recent Posts</span>
            <div class="line"></div>
        </div>
        <div class="widget-title">
            <ul class="sidebar-post">
                {{#foreach posts}}
                    <li class="item">
                        {{#if feature_image}}
                            <div class="thum-img">
                                <img src="{{img_url feature_image}}" alt="{{meta_description}}" width="100" height="100">
                            </div>
                            <div class="post-meta">
                                <h4><a href="{{url}}">{{ title }}</a></h4>
                                <p>{{date published_at format="MMMM DD, YYYY"}}</p>
                            </div>
                        {{else}}
                        <div class="post-meta align-left">
                            <h4><a href="{{url}}">{{ title }}</a></h4>
                                <p>{{date published_at format="MMMM DD, YYYY"}}</p>
                        </div>
                        {{/if}}

                    </li>
                {{/foreach}}
            </ul>
        </div>
    </div>
{{/get}}