<div class="widget-box">
    <div class="widget-title">
        <span class="h4">Search</span>
        <div class="line"></div>
    </div>
    <div class="widget-item">
        <div class="search-input">
            <input type="text" class="form-control" id="search" name="search" placeholder="Search here">
        </div>
        <div class="search-btn">
            <button type="submit" class="btn-black" id="search-btn">Search</button>
        </div>
    </div>
    <div class="hidden" id="search-results"></div>
</div>

<!-- Modal -->
<div class="modal fade" id="search-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">###</h4>
            </div>
            <div class="modal-body">
                <div class="content" style="padding: 3px 10px;" id="result-content">
                    <!-- insert content here -->
                    <div class="row">
                        <div class="search-result-item col">
                            <img src="/assets/images/placeholder-post-thum.jpg" class="img-thumbnail pull-left" width="120" style="margin-right: 10px;"/>
                            <div class="search-result-text">
                                <span class="title"><a href="#">Title of post</a></span>
                                <div class="summary">
                                    <p>Hello world this is aj akl askl;df al;s al;ksdn faklsd falksd fa;sdf ;</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
