<header id="header" class="header navbar-fixed-top">
      <div class="container">
        <!-- Static navbar -->
        <div class="navbar" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{@blog.title}}</a>
          </div>
          <div class="navbar-collapse collapse">

            <!-- Right nav -->
            {{#if @blog.navigation}}
                {{navigation}}
            {{/if}}
          </div><!--/.nav-collapse -->
        </div>
      </div> <!-- End .container -->
    </header>
    <!--
        =====================
              End Header
        =====================
     -->