<div class="widget-box">
    <div class="widget-title">
        <span>Tag Cloud</span>
        <div class="line"></div>
    </div> <!-- End .widget-title -->
    {{#get 'tags' limit='all'}}
        <div class="widget-item">
            <div class="tagcloud">
                {{#foreach tags}}
                    <a class="btn-white-sm" href="{{url}}">{{ name }}</a>
                {{/foreach}}
            </div>
        </div>
    {{/get}}
</div> <!-- End .widget-box -->