<section id="page-title" class="page-title">
    <div class="bg-title">
        <div class="container">
            <div class="title">
               <h1>{{ title }}</h1>
            </div><!-- End .title -->
            <div class="breadcrumb">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li>{{title}}</li>
                </ul>
            </div>
        </div> <!-- End .conatainer -->
    </div>
</section>