<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        {{!-- Document settings --}}
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ meta_title }}</title>

        <!-- Favicons -->
        <link rel="shortcut icon" href="{{asset "images/favicon/favicon.ico"}}">

        <link href="{{ asset "css/bootstrap.min.css" }}" rel="stylesheet">
        <link href="{{ asset "css/font-awesome.min.css" }}" rel="stylesheet">
        <link href="{{ asset "css/site.min.css" }}" rel="stylesheet">

        <![endif]-->

        {{ghost_head}}
    </head>
    <body class="{{body_class}}">
        {{> "site-nav" }}

        {{{ body }}}

        <footer id="footer" class="footer">
            <div class="container">
                <div class="footer-nav">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="#">Privacy & Policy</a></li>
                        <li><a href="archive.html">Archive</a></li>
                        <li><a href="about.html">About Me</a></li>
                        <li><a href="contact.html">Contact Me</a></li>
                        <li><a href="/rss"><i class="fa fa-rss"></i> RSS Feed</a></li>
                    </ul>
                </div> <!-- End .footer-nav -->
                <div class="copyright">
                    <span>Copyright 2015, All Rights Reserved <a href="#">Themography.</a></span>
                </div> <!-- End .copyright -->
            </div> <!-- End .container -->
        </footer>
        <!--
           =======================
             End Footer
           =======================
        -->

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{{asset "js/jquery-1.11.3.min.js"}}"></script>

        <!-- Bootstrap Main -->
        <script src="{{asset "js/bootstrap.min.js" }}"></script>

        <!-- Masonry Cascading grid layout library -->
        <script src="{{ asset "js/masonry.pkgd.min.js" }}"></script>

        <!-- SmartMenus jQuery plugin -->
        <script type="text/javascript" src="{{ asset "js/jquery.smartmenus.min.js" }}"></script>

        <!-- SmartMenus jQuery Bootstrap Addon -->
        <script type="text/javascript" src="{{ asset "js/jquery.smartmenus.bootstrap.min.js" }}"></script>

        <!-- All custom jQuery -->
        <script src="{{ asset "js/custom.js" }}"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js" async></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js" async></script>

        {{block "scripts"}}

        {{ghost_foot}}
    </body>
</html>
