{{!< default}}

{{#is "home"}}
    {{> "home-style2-slider" }}

    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="primary">
                        {{#foreach posts limit="6"}}
                               {{> "post-card"}}
                        {{/foreach}}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="sidebar">
                        <!--Tag sidebar widget-->
                        {{> "tag-widget"}}


                        <!-- Contact section -->
                        {{> "contact-me"}}

                    </div>
                </div>
            </div>
        </div>
    </section>

{{/is}}

