{{!< default}}

{{#is "author, tag"}}
    {{#author}}
        {{> "title-heading" title=name }}
    {{/author}}

    {{#tag}}
        {{> "title-heading" title=name }}
    {{/tag}}
{{else}}
    {{#is "blog"}}
        {{> "title-heading" title="Blog Entries" }}
    {{/is}}
{{/is}}

{{#tag}}
    {{#get "posts" include="tags, author"  filter="tags:{{name}}" limit=4 }}
        <section id="slider">
            <div class="slider">
                <div id="post-slider" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        {{#foreach posts}}
                            {{#if feature_image}}
                                <div class="item active">
                                    <div class="slider-img full-screen">
                                        <img class="full-screen" src="{{img_url feature_image}}" alt="{{meta_description}}">
                                        <div class="bg-feature"></div>
                                    </div> <!-- End .slider-img -->

                                    <div class="slider-content">
                                        <div class="container">
                                            <div class="feature-post">
                                                <span class="post-category"><a class="btn-black" href="#">Lifestyle</a></span>
                                                <h1 class="post-title"><a href="#">Twitter Gets More Shoppable With Product Pages</a></h1>
                                                <div class="date">
                                                    <span>June 14, 2015</span>
                                                </div> <!-- End .date -->
                                                <div class="read-more">
                                                    <a href="#" class="btn-white">Read More<i class="fa fa-long-arrow-right"></i></a>
                                                </div> <!-- End .read-more -->
                                            </div> <!-- End .feature-post -->
                                        </div> <!-- End .container -->
                                    </div> <!-- End .slider-content -->
                                </div> <!-- End .item -->
                            {{/if}}
                        {{/foreach}}
                    </div>
                </div>
            </div>
        </section>
    {{unless}}

    {{/get}}
{{/tag}}

<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="primary">

                    {{#foreach posts}}
                        {{> "post-card" }}
                    {{/foreach}}

                    {{pagination}}

                </div>
            </div>

            <!--Side bar-->
            <div class="col-md-4">
                <div class="sidebar">
                    {{#if "author"}}
                        {{> "author-bio"}}
                    {{/if}}

                    <!--Tag cloud-->
                    {{> "tag-widget"}}

                    <!-- Contact section -->
                    {{> "contact-me"}}
                </div>
            </div>
        </div>
    </div>
</div>