{{!< default}}

{{#post}}
{{> "title-heading" title=title}}

<section id="content" class="{{post_class}}">
    <div class="container">
        <div class="about-me">
            {{#if feature_image}}
                <img src="{{img_url feature_image}}" alt="{{meta_description}}">
            {{/if}}
            {{content}}
        </div>
    </div>

{{/post}}
