{{!< default}}

{{#is "post"}}
    {{#post}}
        <section id="page-title" class="page-title">
            <div class="bg-title">
                <div class="container">
                    <div class="title">
                        <h1>{{ title }}</h1>
                    </div><!-- End .title -->
                    <div class="breadcrumb">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li>{{title}}</li>
                        </ul>
                    </div>
                </div> <!-- End .conatainer -->
            </div>
        </section>

        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="primary">
                            <div class="blog-post {{post_class}}">
                                {{#if feature_image}}
                                    <div class="thum-item">
                                        <img src="{{img_url feature_image}}" alt="{{meta_description}}">
                                    </div>
                                {{/if}}
                                <div class="blog-post">
                                    <div class="blog-title">
                                        <h2><a href="#">{{title}}</a></h2>
                                    </div>
                                    <!-- display author info and tags -->
                                    {{> 'post-meta-info'}}

                                    <div class="content">
                                        {{ content }}
                                    </div>

                                    <div class="line"></div>

                                    <div class="share">
                                        <div class="post-bottom">
                                            {{> "list-tags"}}
                                        </div> <!-- End .post-bottom -->
                                    </div> <!-- End .share -->

                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Side bar items-->
                    <div class="col-md-4">
                        <div class="sidebar">
                            {{#if "author"}}
                                {{> "author-bio"}}
                            {{/if}}

                            <!--Search Sidebar-->
                            {{> "sidebar-search"}}

                            <!--Tag Widget-->
                            {{> "tag-widget" }}

                            <!--Recent Post-->
                            {{> "recent-post-widget" }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/post}}
{{/is}}

{{title}}